// Colors
$grey-1: hsla(0, 0%, 37%, 1);
$dark: hsla(0, 0%, 0%, 1);
$grey-2: hsla(0, 0%, 62%, 1);
$grey-3: hsla(0, 0%, 97%, 1);
$principal-1: hsla(119, 44%, 47%, 1);
$principal-2: hsla(213, 62%, 42%, 1);
$white: hsla(0, 0%, 100%, 1);

// Font Sizes
$font-sm: 0.875rem; // 14px
$font-med: 1.125rem; // 18px
