* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

button, .button {
  padding: .5rem .66875rem .5rem 2rem;
  background: #2964ae;
  border: 0;
  font-weight: 700;
  border-radius: 4px;
  cursor: pointer;
}

.variacao-footer {
  display: none;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header {
  padding: 1.25rem calc(100vw - 1200px);
  z-index: 10;
  position: relative;
}

.header__logo {
  margin-left: 20px;
}

@media screen and (min-width: 411px) {
  .header__logo {
    display: none;
  }
}

@media screen and (min-width: 769px) {
  body .header {
    display: none;
  }
  body .container-simular {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    padding-right: 0;
  }
  body .container-simular .side-bar {
    width: 30%;
    max-height: 100%;
    background-image: url(/images/background-brasil.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  body .container-simular .side-bar .image__brasil {
    padding-top: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body .container-simular .container-form {
    width: 70%;
  }
  body .container-simular .container-form .termos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    max-width: 401px;
    height: 380px;
    margin-top: 16px;
    background: white;
    -webkit-box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 200px;
  }
  body .container-simular .container-form .termos .mensagens {
    width: 70%;
  }
  body .container-simular .container-form .termos .mensagens .mensagem-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 43px;
  }
  body .container-simular .container-form .termos .mensagens .mensagem-img h3 {
    font-size: 0.75rem;
    font-weight: 700;
  }
  body .container-simular .container-form .container-field {
    border: 1px solid magenta;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    max-width: 401px;
    margin-left: auto;
    margin-right: auto;
  }
  body .container-simular .container-form .container-field h1 {
    border: 1px solid magenta;
    display: inline;
    position: relative;
    max-width: 246px;
    font-size: 1rem;
    font-weight: 400;
    padding-top: 100px;
    margin-left: auto;
    margin-right: auto;
    color: black;
  }
  body .container-simular .container-form .container-field h1 span {
    font-size: 1rem;
    font-weight: 700;
  }
  body .container-simular .container-form .container-field h1::after {
    content: '';
    max-width: 76px;
    height: 4px;
    background: #45ad43;
    position: absolute;
    border-radius: 4px;
    top: 0px;
    left: 0;
  }
  body .container-simular .container-form .definir-termos {
    width: 100%;
    margin-top: 40px;
  }
  body .container-simular .container-form .definir-termos .btn-termos {
    padding: 8px 48px;
    margin: 0px;
    width: 177px;
    height: 36px;
    color: white;
    font-size: 1rem;
    font-weight: 700;
    -webkit-transition: opacity 200ms ease-in-out;
    transition: opacity 200ms ease-in-out;
  }
  body .container-simular .container-form .definir-termos .btn-termos:hover {
    opacity: 0.75;
  }
}

.container-simular {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

@media screen and (max-width: 412px) {
  .container-simular .side-bar {
    display: none;
  }
}

.container-simular .container-field h1 {
  position: relative;
  max-width: 246px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 34px;
  font-size: 1rem;
  font-weight: 400;
  color: black;
  text-align: center;
}

.container-simular .container-field h1 span {
  font-size: 1rem;
  font-weight: 700;
}

.container-simular .container-field h1::after {
  content: '';
  width: 29px;
  height: 4px;
  background: #45ad43;
  position: absolute;
  border-radius: 4px;
  top: 0;
  left: 0;
}

.container-simular .termos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 246px;
  height: 380px;
  margin-top: 16px;
  background: white;
  border-radius: 8px;
  -webkit-box-shadow: 0px 4px 16px rgba(40, 100, 173, 0.15);
          box-shadow: 0px 4px 16px rgba(40, 100, 173, 0.15);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;
}

.container-simular .termos .mensagens {
  width: 90%;
  margin: 0 auto;
}

.container-simular .termos .mensagens .mensagem-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 43px;
  margin-bottom: 45px;
}

.container-simular .termos .mensagens .mensagem-img h3 {
  font-size: 0.75rem;
  font-weight: 700;
}

.container-simular .termos .mensagens .termos-emprestimo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 16px;
  color: black;
}

.container-simular .termos .mensagens .termos-emprestimo #receber {
  font-size: 0.75rem;
  font-weight: 400;
}

.container-simular .termos .mensagens .termos-emprestimo .valor {
  font-size: 0.75rem;
  font-weight: 700;
}

.container-simular .termos .mensagens .termos-parcelas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 0.75rem;
  font-weight: 400;
}

.container-simular .termos .mensagens .separador {
  margin: 24px 0;
  width: 100%;
  height: 1px;
  background: #9e9e9e;
}

.container-simular .termos .mensagens .credito-total {
  text-align: center;
  margin-bottom: 40px;
  color: black;
}

.container-simular .termos .mensagens .credito-total .credito-consignado {
  font-size: 0.75rem;
  font-weight: 400;
  margin-bottom: 8px;
}

.container-simular .termos .mensagens .credito-total .cred-aprovado {
  font-size: 1rem;
  font-weight: 700;
}

.container-simular .termos .mensagens .definir-termos {
  width: 100%;
}

.container-simular .termos .mensagens .definir-termos .btn-termos {
  padding: 8px 48px;
  margin: 0px;
  width: 177px;
  height: 36px;
  color: white;
  font-size: 1rem;
  font-weight: 700;
  -webkit-transition: opacity 200ms ease-in-out;
  transition: opacity 200ms ease-in-out;
}

.container-simular .termos .mensagens .definir-termos .btn-termos:hover {
  opacity: 0.75;
}

@media screen and (max-width: 412px) {
  .container-simular .side-bar {
    display: none;
  }
}

@media screen and (min-width: 769px) {
  .container-simular {
    padding-left: 3.75rem;
    padding-right: 3.75rem;
  }
  .container-simular .container-field h1 {
    margin-top: 20px;
    position: relative;
    width: 100%;
    max-width: 246px;
    font-size: 1rem;
    margin-bottom: 32px;
    font-weight: 700;
    color: black;
  }
  .container-simular .container-field h1 span {
    font-size: 1rem;
    font-weight: 700;
  }
  .container-simular .container-field h1::after {
    content: '';
    width: 76px;
    height: 4px;
    background: #45ad43;
    position: absolute;
    border-radius: 4px;
    top: 0;
    left: 0;
  }
  .container-simular .termos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    max-width: 390px;
    height: 370px;
    margin-top: 16px;
    background: white;
    border-radius: 8px;
    -webkit-box-shadow: 0px 4px 16px rgba(40, 100, 173, 0.15);
            box-shadow: 0px 4px 16px rgba(40, 100, 173, 0.15);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 32px;
  }
  .container-simular .termos .mensagens {
    margin-left: auto;
    margin-right: auto;
  }
}

.container-simular .definir-termos {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  width: 100%;
}

.container-simular .definir-termos .btn-termos {
  margin-top: 24px;
  margin-right: 56px;
  color: white;
  font-size: 1rem;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}

.container-simular .definir-termos .btn-termos:hover {
  opacity: 0.75;
}

footer {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  margin-top: 40px;
  width: 100%;
  background: #f7f7f7;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

footer .footer-contatos {
  position: relative;
  width: 80%;
}

footer .footer-text {
  padding-top: 28px;
  font-size: 0.875rem;
  font-weight: 400;
  color: #5e5e5e;
}

footer .footer-descr {
  margin: 0.5rem 0;
  font-size: 0.875rem;
  font-weight: 700;
  color: #2964ae;
}

footer .footer-horario {
  font-size: 0.875rem;
  font-weight: 400;
  color: #5e5e5e;
}

footer .rect {
  margin: 24px 0;
  width: 100%;
  height: 1px;
  background: #9e9e9e;
}

footer .footer-nota {
  margin-bottom: 34px;
  width: 90%;
  font-size: 0.875rem;
  font-weight: 400;
  color: #9e9e9e;
}

@media screen and (min-width: 769px) {
  footer {
    padding-left: 3.75rem;
    padding-right: 3.75rem;
  }
  footer .footer-contatos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
    width: 100%;
  }
  footer .footer-text {
    padding-top: 28px;
    font-size: 1rem;
    font-weight: 400;
    color: #5e5e5e;
  }
  footer .footer-descr {
    margin: 0.5rem 0;
    font-size: 1rem;
    font-weight: 700;
    color: #2964ae;
  }
  footer .footer-horario {
    font-size: 1rem;
    font-weight: 400;
    color: #5e5e5e;
  }
  footer .rect {
    margin: 24px 0;
    width: 100%;
    height: 1px;
    background: #9e9e9e;
  }
  footer .footer-nota {
    margin-bottom: 34px;
    width: 90%;
    font-size: 0.875rem;
    font-weight: 400;
    color: #9e9e9e;
  }
}
/*# sourceMappingURL=style.css.map */