.header {
    padding: 1.25rem calc(100vw - 1200px);
    z-index: 10;
    position: relative;

    &__logo {
        margin-left: 20px;

        @include mobile {
            display: none;
        }
    }
    
}

// Desktop
body {

    @include tablet-desk {
        .header {
            display: none;
        }

        .container-simular {
            display: flex;
            padding-left: 0;
            padding-right: 0;

            .side-bar {
                width: 30%;
                min-height: 100%;
                background-image: url(/images/background-brasil.png);
                background-position: center center;
                background-size: cover;
                background-repeat: no-repeat;
            }

            .side-bar {
                .image__brasil {
                    padding-top: 40px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }


            .container-form {
                width: 70%;
                .termos {
                    display: flex;
                    width: 100%;
                    max-width: 277px;
                    height: 313px;
                    margin-top: 16px;
                    background: $grey-3;
                    border-radius: 8px;
                    justify-content: center;
                    align-items: center;
                    margin-left: auto;
                    margin-right: auto;
                    margin-bottom: 32px;
                }

                .mensagem-aviso {
                    .aviso-alerta {
                        color: $dark;
                        font-size: 1rem;
                        font-weight: 700;
                        text-align: center;
                        margin-bottom: 16px;
                    }
                }

                .aviso-descr {
                    margin-left: auto;
                    margin-right: auto;
                    text-align: center;
                    width: 100%;
                    max-width: 403px;
                    color: $dark;
                    font-size: $font-sm;
                    font-weight: 400;
                    margin-bottom: 16px;
        
                    > span {
                        font-size: $font-sm;
                        font-weight: 700;
                    }
                }

                .aviso-cel {
                    text-align: center;
                    font-size: $font-sm;
                    font-weight: 700;
                    color: $grey-1;
                    margin-bottom: 30px;
                }

                .definir-termos {
                    display: grid;
                    margin-left: auto;
                    margin-right: auto;
                    grid-template-columns: 1fr;
                    align-items: center;
                    justify-items: center;
                    width: 100%;
                    max-width: 478px;
                    margin-bottom: 120px;

                    .btn-recusa {
                        width: 250px;
                        display: flex;
                        margin-left: auto;
                        margin-right: auto;
                        margin-top: 24px;
                        justify-content: space-between;
                    }
                }
                .btn-termos {
                    padding: .5rem 2rem;
                    margin-left: 50px;
                    color: $white;
                    font-size: $font-def;
                    transition: opacity 300ms ease-in-out;
            
                    &:hover {
                        opacity: 0.75;
                    }
                }
            
                a {
                    padding-top: 1rem;
                    font-size: $font-sml;
                    font-weight: 700;
                    font-style: normal;
                    color: $principal-2;
                }
            }

            .container-field {
                width: 100%;
                max-width: 474px;
                margin-left: 140px;
            }

            .container-field h1 {
                font-style: normal;
            }

            .container-field h1::after {
                content: '';
                width: 76px;
                height: 4px;
                background: $principal-1;
                position: absolute;
                border-radius: 4px;
                top: 0px;
                left: 0;
            }
        }

    }


    // footer
    @include tablet-desk {
        display: grid;

        footer {
            justify-content: end;
            width: 100%;
            background: $grey-3;
            box-sizing: border-box;
            margin: 0;

            .footer-contatos {
                position: relative;
                width: 90%;
                margin-left: 85px;
            }

            .footer-text {
                margin-top: 28px;
                font-size: 1rem;
                font-weight: 400;
                color: $grey-1;
            }

            .footer-descr {
                margin: 0.5rem 0;
                font-size: 1rem;
                font-weight: 700;
                color: $principal-2;
            }

            .footer-horario {
                font-size: 1rem;
                font-weight: 400;
                color: $grey-1;
            }

            .rect {
                width: 90%;
                margin: 25px 0px 25px 85px;
                max-width: 750px;
                height: 1px;
                background: $grey-2;
            }

            .footer-nota {
                margin-left: 85px;
                margin-bottom: 34px;
                width: 90%;
                max-width: 670px;
                font-size: 0.75rem;
                font-weight: 400;
                color: $grey-2;
            }
        }
    }
}


