* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}


// Spacing
.container {
    padding-top: 1.25;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

.variacao-footer {
    display: none;
}

button, .button {
    padding: .5rem .66875rem .5rem 2rem;
    background: $principal-2;
    border: 0;
    font-weight: 700;
    border-radius: 4px;
    cursor: pointer;
}


// Flexbox
.flex {
    display: flex;

    &-jc-sb {
        justify-content: space-between;
    }

    &-jc-c {
        justify-content: center;
    }

    &-ai-c {
        align-items: center;
    }
}
/*

// Buttons
button, .button {
    padding: .5rem .66875rem .5rem 2rem;
    background: $principal-2;
    border: 0;
    font-weight: 700;
    border-radius: 4px;
    cursor: pointer;
}
// Flexbox
.flex {
    display: flex;

    &-jc-sb {
        justify-content: space-between;
    }

    &-jc-c {
        justify-content: center;
    }

    &-ai-c {
        align-items: center;
    }
}


// visibility 
.hide-for-mobile {
    // hide for tablet and mobile
    @include breakpoint-down(medium){
        display: none;
    }
}

.hide-for-desktop {
    // hide for desktop viewport widths
    @include breakpoint-up(large){
        display: none;
    }
}*/